<footer class="section-discribe">
  <div id="footer">
    <div class="container">
      <div class="centered">
        <h4>Подпишись</h4>
        <h5>Будь в курсе последних событий</h5>
        <form>
          <div class="form-group col-6 offset-3">
            <label for="email"></label>
            <input id="email" class="form-control form-control-sm" type="email" placeholder="Введите Email"/>
          </div>
        </form>
        <p><img src="assets/images/buttons/podpisatsia.png"
                onmouseover="this.src='assets/images/buttons/podpisatsia_hover.png';"
                onmouseout="this.src='assets/images/buttons/podpisatsia.png';"
        /></p>
        <a target="blank" title="Vkontakte" href="http://vk.com/" ><i class="fa fa-vk fa-lg"></i></a>
        <a target="blank" title="Facebook" href="http://facebook.com/"><i class="fa fa-facebook fa-lg"></i></a>
        <a target="blank" title="Instagram" href="http://instagram.com/"><i class="fa fa-instagram fa-lg"></i></a>
        <a target="blank" title="Twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
        <i class="fa fa-address-book-o fa-lg" routerLink="/admin"></i>
      </div>
    </div>
  </div>
</footer>
