<div class="order">
  <div class="container">
    <img class="bear-baner" src="assets/images/bgimages/header_1.png">
    <div class="panel" [ngStyle]="{'background-image': getUrl()}">
      <div class="row">
        <div class="col-md-2 offset-md-1"><p>ЖИДКОСТИ</p></div>
        <div class="col-md-2"><p>МЕХМОДЫ</p></div>
        <div class="col-md-2"><p>ДРИПКИ</p></div>
        <div class="col-md-2"><p>КОМПЛЕКТУЮЩИЕ</p></div>
        <div class="col-md-2 offset-md-1"><p>АКЦИИ</p></div>
      </div>
    </div>
    <div class="back">
      <div class="row">
        <i class="fa fa-home fa-lg" aria-hidden="true" routerLink="/home"></i>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <div class="benefits">
          <div class="decorated-title-wrapper">
            <div class="decorated-title">
              <h1 routerLink="/catalog">Каталог</h1>
            </div>
          </div>
        </div>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <div class="benefits">
          <div class="decorated-title-wrapper">
            <div class="decorated-title">
              <h1 routerLink="/item_card">Карточка товаров</h1>
            </div>
          </div>
        </div>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <div class="benefits">
          <div class="decorated-title-wrapper">
            <div class="decorated-title">
              <h1 routerLink="/basket">Корзина</h1>
            </div>
          </div>
        </div>
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
    <div class="benefits">
      <div class="decorated-title-wrapper">
        <div class="decorated-title">
          <h1>Оформление заказа</h1>
        </div>
      </div>
    </div>
    </div>
      <div class="row">
        <!--Left part -->
      <div class="col-6"></div>

        <!--Right part -->
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <img class="image-in-order" src="assets/images/item/liquid/large_full_514.jpg"/>
          </div>
          <div class="col-6 item-description-in-order">
            <p>TEA TIME FRESH EARL GREY 60ML</p>
          </div>
          <div class="col-3">
            <div class="item-price-in-order">
              <p>10 X 100 BYN</p>
            </div>
          </div>
        </div>
        <hr/>

      <div class="row">
        <div class="col-3">
          <img class="image-in-order" src="assets/images/item/liquid/large_full_514.jpg"/>
        </div>
        <div class="col-6 item-description-in-order">
          <p>TEA TIME FRESH EARL GREY 60ML</p>
        </div>
        <div class="col-3">
          <div class="item-price-in-order">
            <p>10 X 100 BYN</p>
          </div>
        </div>
      </div>
      <hr/>


  <div class="row">
    <div class="col-3">
      <img class="image-in-order" src="assets/images/item/liquid/large_full_514.jpg"/>
    </div>
    <div class="col-6 item-description-in-order">
      <p>TEA TIME FRESH EARL GREY 60ML</p>
    </div>
    <div class="col-3">
      <div class="item-price-in-order">
        <p>10 X 100 BYN</p>
      </div>
    </div>
  </div>
  <hr/>

        <div class="cost">
              <div class="row justify-content-between">
            <div class="col-4 title-in-order"><p>СУММА ПО ТОВАРОМ</p></div>
            <div class="col-4 sum-in-order"><p>100 BYN</p></div>
              </div>
              <div class="row justify-content-between">
                <div class="col-4 title-in-order"><p>СТОИМОСТЬ ДОСТАВКИ</p></div>
                <div class="col-4 sum-in-order"><p>0 BYN</p></div>
              </div>
          <hr/>
              <div class="row justify-content-between">
            <div class="col-4 title-in-order"><p>ИТОГО:</p></div>
            <div class="col-4 total-in-order"><p>100 BYN</p></div>
              </div>
        </div>

  </div>
</div>



