<div class="basket">
  <div class="container">
    <img class="bear-baner" src="assets/images/bgimages/header_1.png">
    <div class="panel" [ngStyle]="{'background-image': getUrl()}">
      <div class="row">
        <div class="col-md-2 offset-md-1"><p>ЖИДКОСТИ</p></div>
        <div class="col-md-2"><p>МЕХМОДЫ</p></div>
        <div class="col-md-2"><p>ДРИПКИ</p></div>
        <div class="col-md-2"><p>КОМПЛЕКТУЮЩИЕ</p></div>
        <div class="col-md-2 offset-md-1"><p>АКЦИИ</p></div>
      </div>
    </div>
    <div class="back">
      <div class="row">
        <i class="fa fa-home fa-lg" aria-hidden="true" routerLink="/home"></i>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <div class="benefits">
          <div class="decorated-title-wrapper">
            <div class="decorated-title">
              <h1 routerLink="/catalog">Каталог</h1>
            </div>
          </div>
        </div>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <div class="benefits">
          <div class="decorated-title-wrapper">
            <div class="decorated-title">
              <h1 routerLink="/item_card">Карточка товаров</h1>
            </div>
          </div>
        </div>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <div class="benefits">
          <div class="decorated-title-wrapper">
            <div class="decorated-title">
              <h1>Корзина</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--ItemInBasket -->

      <div class="row">
        <div class="col-2">
          <img class="image" src="assets/images/item/liquid/large_full_514.jpg"/>
        </div>
        <div class="col">
          <div class="item-description">
            <p>Tea Time Fresh earl grey 60ml</p>
          </div>
        </div>
        <div class="col-1">
          <div class="item-price">
            <p>10 BYN</p>
          </div>
        </div>
        <div class="col-2">
          <div class="item-quantity">
           <div class="item-increment">
            <div id="decrement">
              <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </div>
            <div class="wrapper"><input type="number"
                                        class="input-text qty text"
                                        step="1" min="1" max=""
                                        name="quantity_12730"
                                        value="1"
                                        title="Кол-во" size="4"
                                        pattern="[0-9]*" inputmode="numeric"></div>
            <div id="increment">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
           </div>
          </div>
        </div>
        <div class="col-1">
          <div class="item-price">
          <p>100 BYN</p>
          </div>
        </div>
        <div class="col-1">
          <div class="item-delete">
          <i class="fa fa-times" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <hr/>

    <!--Checkout-->
    <div class="checkout">
           <div class="row justify-content-between">
             <div class="col-4">
               <div class="input-group">
                 <input type="text" class="form-control" placeholder="Промо-код">
                 <span class="input-group-btn">
                 <button class="btn btn-dark" type="button">OK</button>
                 </span>
               </div>
             </div>
               <div class="col-3">
                 <h3>ИТОГО: 100 BYN</h3>
                 <p><img class="in_basket" routerLink="/order" src="assets/images/buttons/issue_1.png"
                         onmouseover="this.src='assets/images/buttons/issue_2.png';"
                         onmouseout="this.src='assets/images/buttons/issue_1.png';"
                 /></p>
               </div>
      </div>
    </div>
  </div>
</div>
