  <div class="catalog">
    <div class="container">

      <img class="bear-baner" src="assets/images/bgimages/header_1.png">
      <div class="panel" [ngStyle]="{'background-image': getUrl()}">
        <div class="row">
          <div class="col-md-2 offset-md-1"><p>ЖИДКОСТИ</p></div>
          <div class="col-md-2"><p>МЕХМОДЫ</p></div>
          <div class="col-md-2"><p>ДРИПКИ</p></div>
          <div class="col-md-2"><p>КОМПЛЕКТУЮЩИЕ</p></div>
          <div class="col-md-2 offset-md-1"><p>АКЦИИ</p></div>
        </div>
      </div>

      <div class="back">
      <div class="row">
        <i class="fa fa-home fa-lg" aria-hidden="true" routerLink="/home"></i>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <div class="benefits">
          <div class="decorated-title-wrapper">
            <div class="decorated-title">
              <h1>Каталог</h1>
            </div>
          </div>
        </div>
      </div>
    </div>


      <div class="row">
        <div class="col-md-3">
          <div class="navigation">
            <div class="catalog-title">
              <h4>Каталог</h4>
            </div>
            <p>Жидкость</p>
            <div class="catalog-title">
              <h4>Фильтр</h4>
            </div>
            <p>Цена</p>
            <p>Бренд</p>
            <p>Вкус</p>
            <p>Объем</p>
          </div>
        </div>
        <div class="col-md-9 col-md-offset-3">

          <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="assets/images/item/liquid/large_full_514.jpg" routerLink="/item_card"/>
              <div class="card-body">
                <h5 class="card-title">Tea Time</h5>
                <h6 class="card-text">Fresh earl grey</h6>
                <p><img src="assets/images/buttons/in_basket_1_small.png"
                        onmouseover="this.src='assets/images/buttons/in_basket_2_small.png';"
                        onmouseout="this.src='assets/images/buttons/in_basket_1_small.png';"
                /></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="assets/images/item/liquid/large_full_514.jpg" />
              <div class="card-body">
                <h5 class="card-title">Tea Time</h5>
                <h6 class="card-text">Fresh earl grey</h6>
                <p><img src="assets/images/buttons/in_basket_1_small.png"
                        onmouseover="this.src='assets/images/buttons/in_basket_2_small.png';"
                        onmouseout="this.src='assets/images/buttons/in_basket_1_small.png';"
                /></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
            <img class="card-img-top" src="assets/images/item/liquid/large_full_514.jpg" />
            <div class="card-body">
              <h5 class="card-title">Tea Time</h5>
              <h6 class="card-text">Fresh earl grey</h6>
              <p><img src="assets/images/buttons/in_basket_1_small.png"
                      onmouseover="this.src='assets/images/buttons/in_basket_2_small.png';"
                      onmouseout="this.src='assets/images/buttons/in_basket_1_small.png';"
              /></p>
            </div>
          </div>
          </div>
            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" src="assets/images/item/liquid/large_full_514.jpg" />
                <div class="card-body">
                  <h5 class="card-title">Tea Time</h5>
                  <h6 class="card-text">Fresh earl grey</h6>
                  <p><img src="assets/images/buttons/in_basket_1_small.png"
                          onmouseover="this.src='assets/images/buttons/in_basket_2_small.png';"
                          onmouseout="this.src='assets/images/buttons/in_basket_1_small.png';"
                  /></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" src="assets/images/item/liquid/large_full_514.jpg" />
                <div class="card-body">
                  <h5 class="card-title">Tea Time</h5>
                  <h6 class="card-text">Fresh earl grey</h6>
                  <p><img src="assets/images/buttons/in_basket_1_small.png"
                          onmouseover="this.src='assets/images/buttons/in_basket_2_small.png';"
                          onmouseout="this.src='assets/images/buttons/in_basket_1_small.png';"
                  /></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" src="assets/images/item/liquid/large_full_514.jpg" />
                <div class="card-body">
                  <h5 class="card-title">Tea Time</h5>
                  <h6 class="card-text">Fresh earl grey</h6>
                  <p><img src="assets/images/buttons/in_basket_1_small.png"
                          onmouseover="this.src='assets/images/buttons/in_basket_2_small.png';"
                          onmouseout="this.src='assets/images/buttons/in_basket_1_small.png';"
                  /></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" src="assets/images/item/liquid/large_full_514.jpg" />
                <div class="card-body">
                  <h5 class="card-title">Tea Time</h5>
                  <h6 class="card-text">Fresh earl grey</h6>
                  <p><img src="assets/images/buttons/in_basket_1_small.png"
                          onmouseover="this.src='assets/images/buttons/in_basket_2_small.png';"
                          onmouseout="this.src='assets/images/buttons/in_basket_1_small.png';"
                  /></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" src="assets/images/item/liquid/large_full_514.jpg" />
                <div class="card-body">
                  <h5 class="card-title">Tea Time</h5>
                  <h6 class="card-text">Fresh earl grey</h6>
                  <p><img src="assets/images/buttons/in_basket_1_small.png"
                          onmouseover="this.src='assets/images/buttons/in_basket_2_small.png';"
                          onmouseout="this.src='assets/images/buttons/in_basket_1_small.png';"
                  /></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" src="assets/images/item/liquid/large_full_514.jpg" />
                <div class="card-body">
                  <h5 class="card-title">Tea Time</h5>
                  <h6 class="card-text">Fresh earl grey</h6>
                  <p><img src="assets/images/buttons/in_basket_1_small.png"
                          onmouseover="this.src='assets/images/buttons/in_basket_2_small.png';"
                          onmouseout="this.src='assets/images/buttons/in_basket_1_small.png';"
                  /></p>
                </div>
              </div>
            </div>

            <div class="col-3 offset-9">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
              </ul>
            </nav>
            </div>
        </div>
        </div>
      </div>




      </div>
    </div>
