<div class="news">
  <div class="container">

    <img class="bear-baner" src="assets/images/bgimages/header_1.png">
    <div class="panel" [ngStyle]="{'background-image': getUrl()}">
      <div class="row">
        <div class="col-md-2 offset-md-1"><p>ЖИДКОСТИ</p></div>
        <div class="col-md-2"><p>МЕХМОДЫ</p></div>
        <div class="col-md-2"><p>ДРИПКИ</p></div>
        <div class="col-md-2"><p>КОМПЛЕКТУЮЩИЕ</p></div>
        <div class="col-md-2 offset-md-1"><p>АКЦИИ</p></div>
      </div>
    </div>

    <div class="back">
      <div class="row">
        <i class="fa fa-home fa-lg" aria-hidden="true" routerLink="/home"></i>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <div class="benefits">
          <div class="decorated-title-wrapper">
            <div class="decorated-title">
              <h1>Новости</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Center part -->
    <div class="row">
      <div class="col-6">
        <img class="test"  src="assets/images/news/vape_news.png"/><br/>
        <p style="align-content: center">April 20 20018</p>
      </div>
      <div class="col-3">
        <img class="test2"   src="assets/images/news/vape_news.png"/>
        <p>April 20 20018<br/>
           News</p>
        <img class="test2"   src="assets/images/news/vape_news.png"/>
        <p>April 20 20018<br/>
          News</p>
      </div>

      <!-- Right part -->
    <div class="col-3  right-part-name">

      <h5>СВЕЖИЕ НОВОСТИ</h5>

      <img class="test4" src="assets/images/news/vape_news.png"/>
      <p>Llllllllllllllllllllllllll1111111<br/>
        lllllllllllllllllllllllll</p>

      <img class="test4" src="assets/images/news/vape_news.png"/>
      <p>Lorem ipsum.</p>

      <img class="test4" src="assets/images/news/vape_news.png"/>
      <p>Lorem ipsum...</p>

      <img class="test4" src="assets/images/news/vape_news.png"/>
      <p>Lorem ipsum...</p>


      <div class="archive">
      <h5>АРХИВ</h5>
      <ul class="list-group">
        <li class="list-group-item">Июнь 2018</li>
        <li class="list-group-item">Май 2018</li>
        <li class="list-group-item">Апрель 2018</li>
        <li class="list-group-item">Март 2018</li>
      </ul>
      </div>

    </div>
    </div>


    <!-- Bottom part -->
      <div class="col-9">
         <div class="row">
           <div class="col-4">
        <img class="test2"   src="assets/images/news/vape_news.png"/>
        <p>April 20 20018<br/>
          News</p>
        </div>
        <div class="col-4">
          <img class="test2"   src="assets/images/news/vape_news.png"/>
          <p>April 20 20018<br/>
            News</p>
        </div>
        <div class="col-4">
          <img class="test2"   src="assets/images/news/vape_news.png"/>
          <p>April 20 20018<br/>
            News</p>
        </div>
           <div class="col-4">
             <img class="test2"   src="assets/images/news/vape_news.png"/>
             <p>April 20 20018<br/>
               News</p>
           </div>
           <div class="col-4">
             <img class="test2"   src="assets/images/news/vape_news.png"/>
             <p>April 20 20018<br/>
               News</p>
           </div>
           <div class="col-4">
             <img class="test2"   src="assets/images/news/vape_news.png"/>
             <p>April 20 20018<br/>
               News</p>
           </div>

      </div>
  </div>

    <div class="row justify-content-md-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
      </ul>
    </nav>
    </div>

</div>
</div>
