
<img class="bear-baner" src="assets/images/bgimages/Banner_main_1.jpg">

<div class="main">
  <div class="container">
    <!--Stock-->
    <div class="benefits">
      <div class="decorated-title-wrapper">
        <div class="decorated-title">
          <h1 routerLink="/catalog/stock">АКЦИИ</h1>
        </div>
      </div>
    </div>

   <div class="row">
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="assets/images/item/liquid/large_full_514.jpg" />
         <div class="card-body">
           <h5 class="card-title">Tea Time</h5>
           <h6 class="card-text">Fresh earl grey</h6>
           <h6 class="card-text">10.00p</h6>
           <p><img src="assets/images/buttons/in_basket_1_small.png"
                onmouseover="this.src='assets/images/buttons/in_basket_2_small.png';"
                onmouseout="this.src='assets/images/buttons/in_basket_1_small.png';"
           /></p>
         </div>
      </div>
    </div>
     <div class="col-3">
       <div class="card">
         <img class="card-img-top" src="assets/images/item/liquid/large_full_514.jpg" />
         <div class="card-body">
           <h5 class="card-title">Tea Time</h5>
           <h6 class="card-text">Fresh earl grey</h6>
           <h6 class="card-text">10.00p</h6>
           <p><img src="assets/images/buttons/in_basket_1_small.png"
                   onmouseover="this.src='assets/images/buttons/in_basket_2_small.png';"
                   onmouseout="this.src='assets/images/buttons/in_basket_1_small.png';"
           /></p>
         </div>
       </div>
     </div>
     <div class="col-3">
       <div class="card">
         <img class="card-img-top" src="assets/images/item/liquid/large_full_514.jpg" />
         <div class="card-body">
           <h5 class="card-title">Tea Time</h5>
           <h6 class="card-text">Fresh earl grey</h6>
           <h6 class="card-text">10.00p</h6>
           <p><img src="assets/images/buttons/in_basket_1_small.png"
                   onmouseover="this.src='assets/images/buttons/in_basket_2_small.png';"
                   onmouseout="this.src='assets/images/buttons/in_basket_1_small.png';"
           /></p>
         </div>
       </div>
     </div>
     <div class="col-3">
       <div class="card">
         <img class="card-img-top" src="assets/images/item/liquid/large_full_514.jpg" />
         <div class="card-body">
           <h5 class="card-title">Tea Time</h5>
           <h6 class="card-text">Fresh earl grey</h6>
           <h6 class="card-text">10.00p</h6>
           <p><img src="assets/images/buttons/in_basket_1_small.png"
                   onmouseover="this.src='assets/images/buttons/in_basket_2_small.png';"
                   onmouseout="this.src='assets/images/buttons/in_basket_1_small.png';"
           /></p>
         </div>
       </div>
     </div>
   </div>

    <!--TEXT-->
    <img class="logo" src="assets/images/logo.png"/>
    <div class="info-text">
      Добро пожаловать в интернет-магазин замечательных товаров!
      Мы с радостью принимаем и обслуживаем заказы 7 дней в неделю с 10 до 18 по московскому времени.
      Доставка возможна как по Москве, так и в регионы.
      Сделайте заказ через сайт и мы В. На сегодняшний день является одной из самых крупнейших компаний России
      в сфере оптово-розничных продаж электронных сигарет.
      Наша розничная сеть объединяет более восемнадцати торговых площадок по всей Москве в шаговой доступности
      от метро и продолжает расширяться.ам перезвоним для
      согласования времени доставки заказа.
    </div>

    <!--CATALOG-->
    <div class="benefits">
      <div class="decorated-title-wrapper">
        <div class="decorated-title">
          <h1 routerLink="/catalog">КАТАЛОГ</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="grid">
        <figure class="effect-romeo" routerLink="/catalog/liquids">
           <img src="assets/images/banner/banner_zhizhki.jpg" alt="banner_zhizhki"/>
          <figcaption>
            <div>
              <h2>Жидкости</h2>
              <p>Только Топчик</p>
            </div>
          </figcaption>
        </figure>
      </div>
      </div>
      <div class="col-md-6">
        <div class="grid">
          <figure class="effect-romeo" routerLink="/catalog/mechanical_mods">
        <img src="assets/images/banner/banner_devaisi.jpg" alt="banner_devaisi"/>
            <figcaption>
              <div>
                <h2>Мехмоды</h2>
                <p>Мажерские дивайсы</p>
              </div>
            </figcaption>
          </figure>
      </div>
    </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="grid">
          <figure class="effect-romeo" routerLink="/catalog/rdas">
        <img src="assets/images/banner/banner_dripki.jpg" alt="banner_dripki"/>
            <figcaption>
              <div>
                <h2>Дрипки</h2>
                <p>Ну не бак же накручивать</p>
              </div>
            </figcaption>
          </figure>
      </div>
      </div>
      <div class="col-md-6">
        <div class="grid">
          <figure class="effect-romeo" routerLink="/catalog/accumulators">
        <img src="assets/images/banner/banner_aksessyari.jpg" alt="banner_aksessyari"/>
            <figcaption>
              <div>
                <h2>Аккумуляторы</h2>
                <p>Сука дорого, а куда без этого</p>
              </div>
            </figcaption>
          </figure>
      </div>
    </div>
  </div>

    <!--NEWS-->
    <div class="benefits">
      <div class="decorated-title-wrapper">
        <div class="decorated-title">
         <h1 routerLink="/news">НОВОСТИ</h1>
        </div>
      </div>
    </div>

    <section class="section-news">
      <div class="row">
          <div class="col-3">
            <figure class="snip1543">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample108.jpg" alt="sample108" />
              <figcaption>
                <h3>Inverness McKenzie</h3>
                <p>The only skills I have the patience to.</p>
              </figcaption>
              <a href="#"></a>
            </figure>
           </div>

          <div class="col-3">
            <figure class="snip1543"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample101.jpg" alt="sample101" />
              <figcaption>
                <h3>Indigo Violet</h3>
                <p>But Calvin is no kind and loving god!  </p>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>

          <div class="col-3">
            <figure class="snip1543"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample101.jpg" alt="sample101" />
              <figcaption>
                <h3>Indigo Violet</h3>
                <p>But Calvin is no kind and loving god!  </p>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>

        <div class="col-3">
           <figure class="snip1543"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample101.jpg" alt="sample101" />
              <figcaption>
                <h3>Indigo Violet</h3>
                <p>But Calvin is no kind and loving god!  </p>
              </figcaption>
              <a href="#"></a>
            </figure>
        </div>
      </div>
  </section>
</div>
</div>
