<div class="add-accumulator">
  <h3>Редактировать Жидкость</h3>
  <form #liquidForm="ngForm">
    <div class="form-row">
      <div class="form-group col-5">
        <label for="brand">Брэнд:</label>
        <input type="text"
               id="brand"
               class="form-control "
               [(ngModel)]="liquid.brand"
               #brand="ngModel"
               [ngModelOptions]="{standalone: true}"
        />
      </div>
      <div class="form-group col-5 offset-2">
        <label for="name">Название:</label>
        <input type="text"
               id="name"
               class="form-control "
               [(ngModel)]="liquid.name"
               #name="ngModel"
               [ngModelOptions]="{standalone: true}"
        />
      </div>
    </div>

    <select class="custom-select custom-select-sm col-4"
            [(ngModel)]="liquid.nicotine"
            #nicotine="ngModel"
            [ngModelOptions]="{standalone: true}"
    >
      <option selected>{{liquid.nicotine}}</option>
      <option value="0">0 Мг</option>
      <option value="3">3 Мг</option>
      <option value="6">6 Мг</option>
    </select>

    <select class="custom-select custom-select-sm col-4 offset-3"
            [(ngModel)]="liquid.amount"
            #amount="ngModel"
            [ngModelOptions]="{standalone: true}"
    >
      <option selected>{{liquid.amount}}</option>
      <option value="30">30 Мл</option>
      <option value="60">60 Мл</option>
      <option value="100">100 Мл</option>
      <option value="120">120 Мл</option>
    </select>

    <select class="custom-select custom-select-sm col-4"
            [(ngModel)]="liquid.composition"
            #composition="ngModel"
            [ngModelOptions]="{standalone: true}"
    >
      <option selected>{{liquid.composition}}</option>
      <option value="50/50">50/50</option>
      <option value="60/40">60/40</option>
      <option value="70/30">70/30</option>
      <option value="80/20">80/20</option>
    </select>

    <select class="custom-select custom-select-sm col-4 offset-3"
            [(ngModel)]="liquid.taste"
            #taste="ngModel"
            [ngModelOptions]="{standalone: true}"
    >
      <option selected>{{liquid.taste}}</option>
      <option value="Фрукты">Фрукты</option>
      <option value="Выпечка">Выпечка</option>
      <option value="Табачка">Табачка</option>
    </select>


    <label for="description"class="col-form-label col-form-label-sm">Описание</label>
    <textarea name="description"
              class="form-control col-10"
              id="description"
              rows="4"
              placeholder="Описание"
              [(ngModel)]="liquid.description"
              #description="ngModel"
              [ngModelOptions]="{standalone: true}"
    ></textarea>

    <div class="form-row">
      <div class="form-group col-5">
        <label for="price">Цена:</label>
        <input type="text"
               id="price"
               class="form-control"
               placeholder="Цена"
               [(ngModel)]="liquid.price"
               #price="ngModel"
               [ngModelOptions]="{standalone: true}"
        />
      </div>

      <div class="form-group col-5 offset-2">
        <label for="quantity">Количество:</label>
        <input type="text"
               id="quantity"
               class="form-control "
               placeholder="Количество"
               [(ngModel)]="liquid.quantity"
               #quantity="ngModel"
               [ngModelOptions]="{standalone: true}"
        />
      </div>
    </div>

    <label for="liquidFile">Загрузка картинки:</label>
    <div class="form-group custom-file">
      <input type="file"
             class="custom-file-input"
             id="liquidFile"
             (change)="selectFile($event)"

      >
      <label class="custom-file-label" for="liquidFile">Выберите файл</label>
    </div>

    <div class="admin-button-right">
      <button type="button"
              class="btn btn-outline-dark"
              (click)="update( liquid )">Изменить</button>
    </div>
  </form>
</div>
